<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookmymeal">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        >
        <activity android:name=".Coupan"></activity>
        <!-- <activity android:name=".Admin_Orders"></activity> -->
        <activity android:name=".Admin_food_detail" />
        <activity android:name=".Checkout" />
        <activity android:name=".View_feedback" />
        <activity android:name=".Add_menu" />
        <activity android:name=".Orders" />
        <activity
            android:name=".Logo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInfo" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Rating" />
        <activity android:name=".PaymentActivity"
           />
        <activity
            android:name=".Start_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin_Registration" />
        <activity android:name=".Admin_Login" />
        <activity
            android:name=".Admin_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recycleViewClass.Drinks_rec" />
        <activity android:name=".recycleViewClass.Main_rec" />
        <activity android:name=".recycleViewClass.Salad_rec" />
        <activity android:name=".User_Registration" />
        <activity android:name=".User_Login" />
        <activity
            android:name=".User_Main_Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cart"
            android:parentActivityName=".recycleViewClass.Main_rec" />

        <meta-data
            android:name="sendotp.key"
            android:value="@string/sendotp_key" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_xDm6qlo00XygIK" />
    </application>

</manifest>